.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  border-radius: 0.55rem;
  width: 100%;
  z-index: 100;
}

.orderButton, .cartButtton, .productButton, .userButtton, .homeButton {
  margin-right: 10px;
}

.userButton {
  margin-right: 20px;
}

.searchBar {
  width: 70%;
}
